@{
    Layout = null;

    var countriesParam = Request.Params["countries"];
    var selectedCountries = new HashSet<Backend.CountryType>();

    if (string.IsNullOrEmpty(countriesParam)) {
        selectedCountries.Add(Backend.CountryType.Austria);
        selectedCountries.Add(Backend.CountryType.Italy);
        selectedCountries.Add(Backend.CountryType.Usa);
        selectedCountries.Add(Backend.CountryType.China);
        selectedCountries.Add(Backend.CountryType.Germany);
        selectedCountries.Add(Backend.CountryType.UnitedKingdom);
    }
    else {
        var countriesAsString = countriesParam.Split(',');
        foreach (var countryAsString in countriesAsString) {
            if (!System.Enum.TryParse<Backend.CountryType>(countryAsString, true, out var result)) {
                continue;
            }

            if (selectedCountries.Contains(result)) {
                continue;
            }

            selectedCountries.Add(result);
        }
    }

    var graphUriParameter = "";
    foreach (var country in selectedCountries) {
        graphUriParameter += $"country={country.ToString()}&";
    }

    graphUriParameter = graphUriParameter.Substring(0, graphUriParameter.Length - 1);
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Corona Spread Viewer</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="content">
        <div id="countrySelection">
            <div class="contentHeading">
                <h1>Country Selection</h1>
            </div>
            <div id="countrySelectionForm">
                <form>
                    <div class="countrySelectionInForm">
                        @{
                            var values = Enum.GetValues(typeof(Backend.CountryType));
                            var valuesReduced = new List<Backend.CountryType>();

                            foreach (var value in values) {
                                var valueCasted = (Backend.CountryType)value;
                                if (valueCasted == Backend.CountryType.Invalid) {
                                    continue;
                                }

                                valuesReduced.Add(valueCasted);
                            }

                            for (var i = 0; i < valuesReduced.Count(); ++i) {
                                var value = valuesReduced[i];
                                <div class="countrySelectionBox">
                                    @if (selectedCountries.Contains(value)) {
                                        <input type="checkbox" value="@value" name="selectedCountries" checked />
                                    }
                                    else {
                                        <input type="checkbox" value="@value" name="selectedCountries" />
                                    }
                                    <label for="@value">@value.ToString()</label>
                                </div>
                            }
                        }
                    </div>
                    <div class="countrySelectionApply">
                        <input name="apply" type="submit" formaction="api/selection/apply" formmethod="post" value="Apply Selection" />
                    </div>
                </form>
            </div>
        </div>
        <div class="legend">
            <img src="api/graph/legend?@graphUriParameter" />
        </div>
        <div class="graphs">
            <div class="graph">
                <div class="contentHeading">
                    <h1>Infected Persons Total per Population</h1>
                </div>
                <img src="api/graph/infected-per-population-logarithmic?@graphUriParameter" class="graph" />
            </div>
            <div class="graph">
                <div class="contentHeading">
                    <h1>Deaths this Day per Population</h1>
                </div>
                <img src="api/graph/deaths-per-population-logarithmic?@graphUriParameter" class="graph" />
            </div>
            <div class="graph">
                <div class="contentHeading">
                    <h1>Still Infected Persons (withouth Deaths and Recovered) per Population</h1>
                </div>
                <img src="api/graph/still-infected-per-population-logarithmic?@graphUriParameter" class="graph" />
            </div>
            <div class="graph">
                <div class="contentHeading">
                    <h1>Infected Persons Total, Logarithmic</h1>
                </div>
                <img src="api/graph/infected-absolute-logarithmic?@graphUriParameter" class="graph" />
            </div>
            <div class="graph">
                <div class="contentHeading">
                    <h1>Infected Persons Total, Linear</h1>
                </div>
                <img src="api/graph/infected-absolute-linear?@graphUriParameter" class="graph" />
            </div>
            <div class="graph">
                <div class="contentHeading">
                    <h1>Growth of Infected in relation to the Total Infected</h1>
                </div>
                <img src="api/graph/infected-growth-per-total-infected?@graphUriParameter" class="graph" />
            </div>
        </div>
        <div class="dataUpdate">
            <div class="contentHeading">
                <h1>Data Update</h1>
            </div>
            <form>
                <div class="credentials">
                    <div class="credentialLabels">
                        <label for="username">Username</label>
                        <br />
                        <label for="password">Password</label>
                    </div>
                    <div class="credentialValues">
                        <input name="username" maxlength="100" type="text" required autocomplete="on" />
                        <br />
                        <input name="password" maxlength="100" type="password" required autocomplete="off" />
                    </div>
                </div>
                <input name="reimport" type="submit" formaction="api/data/reimport" formmethod="post" value="Update" />
            </form>
        </div>
        <div class="impressum">
            <div class="contentHeading">
                <h1>Impressum</h1>
            </div>
            <p>This page has been proudly made without any JS by Benedikt Schmidt (benediktibk@gmail.com). The data is based upon the <a href="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6">COVID-19 cases dashboard by John Hopkins University</a>. The source code for this page can be found at <a href="https://bitbucket.org/benediktibk/corona">bitbucket</a>.</p>
            <p>If you do like what you see here: Great. If you do not: I do not take any legal responsibility for what you make with the information presented.</p>
            <p>Stay healthy!</p>
        </div>
    </div>
</body>
</html>
