div.header {
    width: 100%;
}

div.footer {
    width: 100%;
}

div.content {
    width: 100%;
    min-width: 400px;
}

div.dataUpdate {
}

#countrySelection {
    padding-bottom: 20px;
}

#countrySelectionForm {
    display: none;
}

#countrySelection:hover #countrySelectionForm {
    display: initial;
}

div.countrySelectionInForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

div.countrySelectionBox {
    width: 250px;
}

div.credentials {
    display: flex;
    flex-direction: row;
    width: 100%;
}

div.credentialLabels {
    margin-right: 10px;
}

div.credentialValues {
}

div.content {
    margin: 0 auto;
    width: 95%;
}

div.graphs {
    width: 100%;
}

img.graph {
    width: 100%;
}

h1 {
    text-align: center;
}

div.countrySelectionApply {
    margin-top: 10px;
}