@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Corona Spread Viewer</title>
</head>
<body>
    <div class="header">
    </div>
    <div class="content">
        <form>
            <label for="username">Username</label>
            <input name="username" maxlength="100" type="text" required autocomplete="on" />
            <label for="password">Password</label>
            <input name="password" maxlength="100" type="password" required autocomplete="off" />
            <input name="reimport" type="submit" formaction="api/data/reimport" formmethod="post" value="Update" />
        </form>
    </div>
</body>
</html>