<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  
  <connectionStrings>
    <add name="Database" connectionString="Server=localhost;Database=Corona;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <nlog autoReload="true"
        throwExceptions="false"
        internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
    <targets>
      <target type="Console" name ="Console"/>
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="Console" />
    </rules>
  </nlog>
        
</configuration>