<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
  <connectionStrings>
    <add name="Database" connectionString="Server=localhost;Database=Corona;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="GitRepo" value="https://github.com/CSSEGISandData/COVID-19.git"/>
    <add key="LocalPath" value="C:/temp/corona"/>
  </appSettings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target name="logconsole" xsi:type="Console" />
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="logconsole" />
    </rules>
  </nlog>
        
</configuration>